<a href="https://colab.research.google.com/github/Karunasagar-K/Pandas/blob/main/TASK_4.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

* TASK 4- Apply groupby function and pivot table for insurance data
* Read Crosstab

In [ ]:
import pandas as pd

### Getting and knowing the data

In [ ]:
insurance = pd.read_csv('insurance.csv',sep=',') #insurance data 
insurance

      age     sex     bmi  children smoker     region      charges
0      19  female  27.900         0    yes  southwest  16884.92400
1      18    male  33.770         1     no  southeast   1725.55230
2      28    male  33.000         3     no  southeast   4449.46200
3      33    male  22.705         0     no  northwest  21984.47061
4      32    male  28.880         0     no  northwest   3866.85520
...   ...     ...     ...       ...    ...        ...          ...
1333   50    male  30.970         3     no  northwest  10600.54830
1334   18  female  31.920         0     no  northeast   2205.98080
1335   18  female  36.850         0     no  southeast   1629.83350
1336   21  female  25.800         0     no  southwest   2007.94500
1337   61  female  29.070         0    yes  northwest  29141.36030

[1338 rows x 7 columns]

### 1.Initial analysis

In [ ]:
insurance.shape

(1338, 7)

In [ ]:
insurance.describe() #statistical report

               age          bmi     children       charges
count  1338.000000  1338.000000  1338.000000   1338.000000
mean     39.207025    30.663397     1.094918  13270.422265
std      14.049960     6.098187     1.205493  12110.011237
min      18.000000    15.960000     0.000000   1121.873900
25%      27.000000    26.296250     0.000000   4740.287150
50%      39.000000    30.400000     1.000000   9382.033000
75%      51.000000    34.693750     2.000000  16639.912515
max      64.000000    53.130000     5.000000  63770.428010

In [ ]:
insurance.dtypes #data types

age           int64
sex          object
bmi         float64
children      int64
smoker       object
region       object
charges     float64
dtype: object

In [ ]:
insurance.isnull().sum() #To find any null values

age         0
sex         0
bmi         0
children    0
smoker      0
region      0
charges     0
dtype: int64

In [ ]:
insurance.head(5)

   age     sex     bmi  children smoker     region      charges
0   19  female  27.900         0    yes  southwest  16884.92400
1   18    male  33.770         1     no  southeast   1725.55230
2   28    male  33.000         3     no  southeast   4449.46200
3   33    male  22.705         0     no  northwest  21984.47061
4   32    male  28.880         0     no  northwest   3866.85520

## Groupby and Pivot tables

### 1.What is average age of male and female?

In [ ]:
Avg_age = round(insurance.groupby(by='sex')['age'].mean())
Avg_age

sex
female    40.0
male      39.0
Name: age, dtype: float64

In [ ]:
round(pd.pivot_table(insurance,values='age',index='sex',columns=None,aggfunc='mean'))

         age
sex
female  40.0
male    39.0

### 2.what is sexwise average charges?

In [ ]:
round(insurance.groupby(by='sex')['charges'].mean())

sex
female    12570.0
male      13957.0
Name: charges, dtype: float64

In [ ]:
round(pd.pivot_table(insurance,values='charges',index='sex',columns=None,aggfunc='mean'))

        charges
sex
female  12570.0
male    13957.0

### 3.what is regionwise average charges?

In [ ]:
round(insurance.groupby(by='region')['charges'].mean())

region
northeast    13406.0
northwest    12418.0
southeast    14735.0
southwest    12347.0
Name: charges, dtype: float64

In [ ]:
round(pd.pivot_table(insurance,values='charges',index='region',columns=None,aggfunc='mean'))

           charges
region
northeast  13406.0
northwest  12418.0
southeast  14735.0
southwest  12347.0

### 4. what the region and sex wise avg insurance charges?

In [ ]:
round(insurance.groupby(['region','sex'])['charges'].mean())

region     sex
northeast  female    12953.0
           male      13854.0
northwest  female    12480.0
           male      12354.0
southeast  female    13500.0
           male      15880.0
southwest  female    11274.0
           male      13413.0
Name: charges, dtype: float64

In [ ]:
round(pd.pivot_table(insurance,values='charges',index='region',columns='sex',aggfunc='mean'))

sex         female     male
region
northeast  12953.0  13854.0
northwest  12480.0  12354.0
southeast  13500.0  15880.0
southwest  11274.0  13413.0